%footer.main-footer
  .pull-right.hidden-xs
    by
    %strong EFLUXZ MOBILE
  %strong
    Copyright © 2017
    = succeed "." do
      %a{:href => "http://laffhub.com"} LAFFHUB CONTENT
  All rights reserved.
