%footer.main-footer
  .pull-right.hidden-xs
    by
    %strong Authentic Pixels
  %strong
    Copyright © 2016
    = succeed "." do
      %a{:href => "http://authenticpixels.com"} Atlas Admin
  All rights reserved.
