%div
  %p LaffHub Content Catalogue
  - if user_signed_in?
    = link_to "My Account"
  - else
    = link_to "Log In", new_user_session_path

  = link_to  destroy_user_session_path, method: :delete  do
    %span Log Out

  = flash[:notice]