.content-wrapper.slider-page
  / Content Header (Page header)
  %section.content-header
    %h1
      Sliders  Toggles
      %small Range sliders  Toggles
    %ol.breadcrumb
      %li
        %a{:href => "#"}
          %i.fa.fa-dashboard
          Home
      %li
        %a{:href => "#"} UI
      %li.active Sliders
  / Main content
  %section.content
    .row
      .col-xs-12
        .box.box-primary{"data-aos" => "fade-up"}
          .box-header
            %h3.box-title Bootstrap Slider
          / /.box-header
          .box-body
            .row.margin
              .col-sm-6
                %input.slider.form-control{"data-slider-id" => "red", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                  %input.slider.form-control{"data-slider-id" => "blue", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                    %input.slider.form-control{"data-slider-id" => "green", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                      %input.slider.form-control{"data-slider-id" => "yellow", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                        %input.slider.form-control{"data-slider-id" => "aqua", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                          %input.slider.form-control{"data-slider-id" => "purple", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                          .col-sm-6.text-center
                            %input.slider.form-control{"data-slider-id" => "red", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                              %input.slider.form-control{"data-slider-id" => "blue", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                %input.slider.form-control{"data-slider-id" => "green", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                  %input.slider.form-control{"data-slider-id" => "yellow", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                    %input.slider.form-control{"data-slider-id" => "aqua", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                      %input.slider.form-control{"data-slider-id" => "purple", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                  / /.box-body
                                / /.box
                              / /.col
                            / /.row
                            .row
                              .col-xs-12
                                .box.box-primary{"data-aos" => "fade-up"}
                                  .box-header
                                    %h3.box-title Slim Slider
                                  / /.box-header
                                  .box-body
                                    .row.margin
                                      .col-sm-6
                                        .slim
                                          %input.slider.form-control{"data-slider-id" => "red", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                          .slim
                                            %input.slider.form-control{"data-slider-id" => "blue", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                            .slim
                                              %input.slider.form-control{"data-slider-id" => "green", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                              .slim
                                                %input.slider.form-control{"data-slider-id" => "yellow", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                                .slim
                                                  %input.slider.form-control{"data-slider-id" => "aqua", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                                  .slim
                                                    %input.slider.form-control{"data-slider-id" => "purple", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "horizontal", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                                  .col-sm-6.text-center
                                                    .slim.slim-vertical
                                                      %input.slider.form-control{"data-slider-id" => "red", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                                      .slim.slim-vertical
                                                        %input.slider.form-control{"data-slider-id" => "blue", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                                        .slim.slim-vertical
                                                          %input.slider.form-control{"data-slider-id" => "green", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                                          .slim.slim-vertical
                                                            %input.slider.form-control{"data-slider-id" => "yellow", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                                            .slim.slim-vertical
                                                              %input.slider.form-control{"data-slider-id" => "aqua", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                                              .slim.slim-vertical
                                                                %input.slider.form-control{"data-slider-id" => "purple", "data-slider-max" => "200", "data-slider-min" => "-200", "data-slider-orientation" => "vertical", "data-slider-selection" => "before", "data-slider-step" => "5", "data-slider-tooltip" => "show", "data-slider-value" => "[-100,100]", :type => "text", :value => ""}
                                                          / /.box-body
                                                        / /.box
                                                      / /.col
                                                    / /.row
                                                    .row
                                                      .col-xs-12
                                                        .box.box-primary{"data-aos" => "fade-up"}
                                                          .box-header
                                                            %h3.box-title Bootstrap Toggles
                                                          / /.box-header
                                                          .box-body
                                                            .row.margin
                                                              .col-sm-12
                                                                %table.table.table-responsive
                                                                  %tbody
                                                                    %tr
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "red", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "1", :type => "text"}/
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "blue", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "1", :type => "text"}/
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "green", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "1", :type => "text"}/
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "yellow", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "1", :type => "text"}/
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "aqua", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "1", :type => "text"}/
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "purple", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "1", :type => "text"}/
                                                                    %tr
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "red", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "0", :type => "text"}/
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "blue", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "0", :type => "text"}/
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "green", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "0", :type => "text"}/
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "yellow", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "0", :type => "text"}/
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "yellow", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "0", :type => "text"}/
                                                                      %td
                                                                        .toggle
                                                                          %input.slider.form-control{"data-slider-id" => "purple", "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "0", :type => "text"}/
                                                          / /.box-body
                                                        / /.box
                                                      / /.col
                                                    / /.row
                                                  / /.content
                                                / /.content-wrapper
                                                - content_for :after_body do
                                                  %script{:src => "/plugins/bootstrap-slider/bootstrap-slider.js"}
                                                  %script{:src => "/assets/pages/slider.js"}
