.content-wrapper
  / Content Header (Page header)
  %section.content-header
    %h1
      Simple Tables
      %small Tabular Data
    %ol.breadcrumb
      %li
        %a{:href => "#"}
          %i.fa.fa-dashboard
          Home
      %li
        %a{:href => "#"} Tables
      %li.active Simple
  / Main content
  %section.content
    .row
      .col-md-6
        .box{"data-aos" => "fade-up"}
          .box-header.with-border
            %h3.box-title Bordered Table
          / /.box-header
          .box-body
            %table.table.table-bordered
              %tr
                %th{:style => "width: 10px"} #
                %th Task
                %th Progress
                %th{:style => "width: 40px"} Label
              %tr
                %td 1.
                %td Update software
                %td
                  .progress.progress-xs
                    .progress-bar.progress-bar-danger{:style => "width: 55%"}
                %td
                  %span.badge.bg-red 55%
              %tr
                %td 2.
                %td Clean database
                %td
                  .progress.progress-xs
                    .progress-bar.progress-bar-yellow{:style => "width: 70%"}
                %td
                  %span.badge.bg-yellow 70%
              %tr
                %td 3.
                %td Cron job running
                %td
                  .progress.progress-xs.progress-striped.active
                    .progress-bar.progress-bar-primary{:style => "width: 30%"}
                %td
                  %span.badge.bg-light-blue 30%
              %tr
                %td 4.
                %td Fix and squish bugs
                %td
                  .progress.progress-xs.progress-striped.active
                    .progress-bar.progress-bar-success{:style => "width: 90%"}
                %td
                  %span.badge.bg-green 90%
          / /.box-body
          .box-footer.clearfix
            %ul.pagination.pagination-sm.no-margin.pull-right
              %li
                %a{:href => "#"} «
              %li
                %a{:href => "#"} 1
              %li
                %a{:href => "#"} 2
              %li
                %a{:href => "#"} 3
              %li
                %a{:href => "#"} »
        / /.box
        .box{"data-aos" => "fade-up"}
          .box-header
            %h3.box-title Condensed Full Width Table
          / /.box-header
          .box-body.no-padding
            %table.table.table-condensed
              %tr
                %th{:style => "width: 10px"} #
                %th Task
                %th Progress
                %th{:style => "width: 40px"} Label
              %tr
                %td 1.
                %td Update software
                %td
                  .progress.progress-xs
                    .progress-bar.progress-bar-danger{:style => "width: 55%"}
                %td
                  %span.badge.bg-red 55%
              %tr
                %td 2.
                %td Clean database
                %td
                  .progress.progress-xs
                    .progress-bar.progress-bar-yellow{:style => "width: 70%"}
                %td
                  %span.badge.bg-yellow 70%
              %tr
                %td 3.
                %td Cron job running
                %td
                  .progress.progress-xs.progress-striped.active
                    .progress-bar.progress-bar-primary{:style => "width: 30%"}
                %td
                  %span.badge.bg-light-blue 30%
              %tr
                %td 4.
                %td Fix and squish bugs
                %td
                  .progress.progress-xs.progress-striped.active
                    .progress-bar.progress-bar-success{:style => "width: 90%"}
                %td
                  %span.badge.bg-green 90%
          / /.box-body
        / /.box
      / /.col
      .col-md-6
        .box{"data-aos" => "fade-up"}
          .box-header
            %h3.box-title Simple Full Width Table
            .box-tools
              %ul.pagination.pagination-sm.no-margin.pull-right
                %li
                  %a{:href => "#"} «
                %li
                  %a{:href => "#"} 1
                %li
                  %a{:href => "#"} 2
                %li
                  %a{:href => "#"} 3
                %li
                  %a{:href => "#"} »
          / /.box-header
          .box-body.no-padding
            %table.table
              %tr
                %th{:style => "width: 10px"} #
                %th Task
                %th Progress
                %th{:style => "width: 40px"} Label
              %tr
                %td 1.
                %td Update software
                %td
                  .progress.progress-xs
                    .progress-bar.progress-bar-danger{:style => "width: 55%"}
                %td
                  %span.badge.bg-red 55%
              %tr
                %td 2.
                %td Clean database
                %td
                  .progress.progress-xs
                    .progress-bar.progress-bar-yellow{:style => "width: 70%"}
                %td
                  %span.badge.bg-yellow 70%
              %tr
                %td 3.
                %td Cron job running
                %td
                  .progress.progress-xs.progress-striped.active
                    .progress-bar.progress-bar-primary{:style => "width: 30%"}
                %td
                  %span.badge.bg-light-blue 30%
              %tr
                %td 4.
                %td Fix and squish bugs
                %td
                  .progress.progress-xs.progress-striped.active
                    .progress-bar.progress-bar-success{:style => "width: 90%"}
                %td
                  %span.badge.bg-green 90%
          / /.box-body
        / /.box
        .box{"data-aos" => "fade-up"}
          .box-header
            %h3.box-title Striped Full Width Table
          / /.box-header
          .box-body.no-padding
            %table.table.table-striped
              %tr
                %th{:style => "width: 10px"} #
                %th Task
                %th Progress
                %th{:style => "width: 40px"} Label
              %tr
                %td 1.
                %td Update software
                %td
                  .progress.progress-xs
                    .progress-bar.progress-bar-danger{:style => "width: 55%"}
                %td
                  %span.badge.bg-red 55%
              %tr
                %td 2.
                %td Clean database
                %td
                  .progress.progress-xs
                    .progress-bar.progress-bar-yellow{:style => "width: 70%"}
                %td
                  %span.badge.bg-yellow 70%
              %tr
                %td 3.
                %td Cron job running
                %td
                  .progress.progress-xs.progress-striped.active
                    .progress-bar.progress-bar-primary{:style => "width: 30%"}
                %td
                  %span.badge.bg-light-blue 30%
              %tr
                %td 4.
                %td Fix and squish bugs
                %td
                  .progress.progress-xs.progress-striped.active
                    .progress-bar.progress-bar-success{:style => "width: 90%"}
                %td
                  %span.badge.bg-green 90%
          / /.box-body
        / /.box
      / /.col
    / /.row
    .row
      .col-xs-12
        .box{"data-aos" => "fade-up"}
          .box-header
            %h3.box-title Responsive Hover Table
            .box-tools
              .input-group{:style => "width: 150px;"}
                %input.form-control.input-sm.pull-right{:name => "table_search", :placeholder => "Search", :type => "text"}/
                .input-group-btn
                  %button.btn.btn-sm.btn-default
                    %i.fa.fa-search
          / /.box-header
          .box-body.table-responsive.no-padding
            %table.table.table-hover
              %tr
                %th ID
                %th User
                %th Date
                %th Status
                %th Reason
              %tr
                %td 183
                %td John Doe
                %td 11-7-2014
                %td
                  %span.label.label-success Approved
                %td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              %tr
                %td 219
                %td Zachary Banks
                %td 11-7-2014
                %td
                  %span.label.label-warning Pending
                %td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              %tr
                %td 657
                %td Bob Doe
                %td 11-7-2014
                %td
                  %span.label.label-primary Approved
                %td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              %tr
                %td 175
                %td Mike Doe
                %td 11-7-2014
                %td
                  %span.label.label-danger Denied
                %td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
          / /.box-body
        / /.box
  / /.content
/ /.content-wrapper
